.account__tabs {
    display: flex;
    border-right: 2px solid var(--admss-app-light-blue);
}

.account__tabs > .p-tabview-nav-container .p-tabview-nav {
    flex-direction: column;
    flex: 0 0;
    width: 294px;
    border: none;
    min-height: 527px;
    border-right: 5px solid var(--admss-app-light-blue);
    gap: 10px;
}

.account__tabs .p-tabview-panels {
    flex: 1;
    padding-top: 0;
}

.account__tabs > .p-tabview-nav-container a.p-tabview-nav-link {
    color: var(--admss-app-primary);
    border: none;
}

.p-tabview .p-tabview-nav .p-tabview-selected .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none;
}

.account__tabs > .p-tabview-nav-container a.p-tabview-nav-link[aria-selected="true"] {
    color: var(--admss-app-primary);
    background: var(--admss-app-light-blue);
    border-radius: 0;
}

.account__footer {
    display: flex;
    margin-left: auto;
    margin-bottom: 60px;
    align-items: center;
    width: 65.5%;
    justify-content: flex-end;
}

.account__footer .account__button.p-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-weight: 700;
    width: 200px;
}

.account__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 210px;
    font-weight: 700;
}

.account-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.account__body {
    height: 100%;
    row-gap: 10px;
}

.account__table {
    flex-grow: 1;
    height: 474px;
    min-height: 29vh;

    .p-datatable {
        height: 100%;

        .p-datatable-wrapper {
            height: 100%;
        }
    }
}

.account__control {
    display: flex;
    height: 72px;
    gap: 25px;
    flex-grow: 0;
}

.account__dropdown {
    flex: 0 0 245px;
}
