.vehicle-inspections__calendar {
    height: 50px;
}

.vehicle-inspections__checkbox {
    border: 1px solid var(--admss-app-lightest-grey);
    border-radius: 5px;
    height: 50px;
    padding-left: 10px;
}

.vehicle-inspections__checkbox > .p-inputgroup-addon {
    height: 100%;
}
.vehicle-inspections__checkbox > .p-inputgroup-addon .p-checkbox-box {
    border-color: var(--admss-app-light-grey);
}
