.inventory-print .inventory-print__table .p-datatable-header,
.inventory-print .inventory-print__table .p-datatable-footer {
    display: none;
}

.inventory-print .inventory-print__table .p-datatable-thead > tr > th {
    height: 38px;
    background: var(--admss-app-light-blue);
    border: none;
}

.inventory-print .inventory-print__table .p-datatable-thead > tr > th:first-child {
    padding-left: 18px;
}

.inventory-print .inventory-print__table .p-datatable-tbody > tr > td {
    border-color: #c8d5ef;
    height: 44px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.inventory-print .inventory-print__table .p-datatable-tbody > tr > td:first-child {
    padding-left: 18px;
}

.inventory-print .inventory-print__table .p-datatable-tbody > tr.p-highlight {
    background: #ddfee6;
    color: var(--admss-app-blue-text);
}

.inventory-print .inventory-print__table-action {
    padding-right: 12px;
}

.inventory-print__row-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.p-button.inventory-print__action-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: 600;
}

.inventory-print__button .icon {
    font-size: 20px;
}

.inventory-print__control {
    margin-top: 26px;
    display: flex;
    gap: 16px;
}

.inventory-print__button {
    width: 220px;
    min-height: 52px;
    font-weight: 700;
    font-size: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
