.vehicle-general__dropdown,
.vehicle-general__text-input {
    height: 50px;
}

.vehicle-general__number-input .p-inputnumber-input {
    width: 100%;
}

.vehicle-general__dropdown-icon {
    height: 30px;
    width: 30px;
}

.vehicle-general__line {
    border: none;
    border-top: 1px solid var(--admss-app-light-grey);
    margin-top: 12px;
}

.vehicle-general__title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.p-inputnumber .p-inputtext.p-inputnumber-input {
    width: 100%;
}
