.p-dialog {
    width: 80vw;
    border-radius: var(--admss-app-dialog-border-radius);
}

.p-header {
}

.p-dialog > .p-dialog-header {
    font-weight: var(--admss-app-font-weight);
    padding: 3rem;
    color: var(--admss-app-main-blue);
    border-bottom: none;
    padding-top: 2rem;
    padding-bottom: 0;
    border-top-right-radius: var(--admss-app-dialog-border-radius);
    border-top-left-radius: var(--admss-app-dialog-border-radius);
}

.p-inputgroup-addon {
    background: var(--admss-app-lightest-grey);
}

.p-dialog .p-dialog-footer {
    border-top: none;
}

.p-dialog .p-dialog-content:last-of-type {
    border-bottom-right-radius: var(--admss-app-dialog-border-radius);
    border-bottom-left-radius: var(--admss-app-dialog-border-radius);
}

@media screen and (min-width: 992px) {
    .p-dialog {
        width: 50vw;
    }
}
