.p-tabview .p-tabview-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.p-tabview .p-tabview-nav li {
    margin: 0;
    padding: 0;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}
