.info-section {
    padding: 18px 20px;
    border: 1px solid var(--admss-app-light-grey);
    border-radius: 5px;
    margin-bottom: 20px;
}

.info-section__title {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px;
}

.info-section__details {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 3rem;
    row-gap: 10px;
}

.info-section__detail {
    display: contents;
}

.info-section__detail-title {
    font-weight: 600;
    padding-right: 10px;
    grid-column: 1;
}

.take-payment__info {
    .info-section__detail-title {
        width: 200px;
    }
}

.info-section__detail-value {
    grid-column: 2;
    text-align: left;
}
