.info-section {
    padding: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    margin-bottom: 20px;
}

.info-section__title {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px;
}

.info-section__detail-title {
    font-weight: 600;
}
.info-section__detail {
    padding: 5px 0;
}
