.media-audio__image {
    border-radius: 5px;
}

.media-audio__item {
    width: 48%;
    & > .media-uploaded__checkbox {
        margin-left: 0;
    }
}

.presentation__audio {
    object-fit: cover;
    border-radius: 2px;
}

.media-choose .info-panel__panel {
    min-width: 418px;
}
