.loader-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader-wrapper--overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    -webkit-mask: conic-gradient(from 15deg, #0000, #000);
    animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after {
    background: radial-gradient(closest-side at 50% 12.5%, var(--admss-app-main-blue) 96%, #0000)
            50% 0/20% 80% repeat-y,
        radial-gradient(closest-side at 12.5% 50%, var(--admss-app-main-blue) 96%, #0000) 0 50%/80%
            20% repeat-x;
}
.loader:before,
.loader:after {
    content: "";
    grid-area: 1/1;
    transform: rotate(30deg);
}
.loader:after {
    transform: rotate(60deg);
}

.loader-text {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
    color: var(--admss-app-main-blue);
}

.loader--large {
    width: 89px;
}

@keyframes l26 {
    100% {
        transform: rotate(1turn);
    }
}

