.expansion-column {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    .expansion-column__button.p-button {
        color: var(--admss-app-primary-main-green);
        background: transparent;
        width: 20px;
        height: 20px;
        border: none;
        &:hover,
        &:focus,
        &:active {
            color: var(--admss-app-primary-main-green);
            background: transparent;
            outline: none;
            box-shadow: none;
        }
    }
}

.p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(.p-datatable-tbody)
    .p-datatable-tbody
    > tr
    > td.expansion-column-cell
    + td {
    border-left: none;
}

.expanded-row {
    width: 100%;
    display: flex;
    padding-left: var(--expanded-row-left-padding, 60px);
    column-gap: 20px;
    .expanded-row__label {
        font-weight: 700;
    }
}

.data-table-wrapper {
    max-width: 1670px;
    height: var(--data-table-wrapper-height, var(--admss-app-default-card-height));
    max-height: calc(
        100vh - var(--admss-app-header-height) - var(--admss-app-content-top-margin) - 20px
    );
    border-radius: 15px;
    overflow: hidden;
    padding: var(--data-table-padding, 40px);

    .p-paginator {
        padding-top: var(--data-table-paginator-padding-top, 42px);
        padding-bottom: 10px;
        .p-paginator-pages .p-paginator-page {
            width: 50px;
            height: 50px;
        }
    }

    .p-datatable {
        height: 100%;
    }

    .p-tabview {
        width: 100%;
        height: 100%;
    }

    .p-datatable-wrapper {
        height: calc((var(--data-table-rows-count, 10) + 1) * var(--data-table-row-height, 40px));
        max-height: calc(
            (var(--data-table-rows-count, 10) + 1) * var(--data-table-row-height, 40px)
        );
        overflow-y: auto;
        scrollbar-gutter: stable;
    }
}
