.header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 150px;
    background: var(--admss-app-white-blue);
    border-bottom: 5px solid var(--admss-app-main-blue);
    padding: 0 48px 0 24px;
    display: flex;
    align-items: center;
    gap: 84px;
}

.header__logo {
    height: 41px;
}

.header__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__info {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header__name {
    font-size: 28px;
    line-height: 38px;
}

.header__location {
    font-size: 18px;
    line-height: 24px;
}

.header-dealer-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 120px;
}

.header__icon {
    cursor: pointer;
    border: 2px solid transparent;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    padding: 5px;
}

.header__icon:hover {
    border-color: var(--admss-app-main-blue);
}

