.header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: var(--admss-app-header-height);
    background: var(--admss-app-white-blue);
    border-bottom: 5px solid var(--admss-app-main-blue);
    padding: 15px 40px;
    display: flex;
    align-items: center;
}

.header__logo {
    &.header__logo--expanded {
        margin: 0 20px;
        height: 88px;
        width: 76px;
    }

    &.header__logo--collapsed {
        margin-right: 20px;
        height: 41px;
        width: 47px;
    }
}

.header__content {
    width: 100%;
    display: flex;
    padding-left: 100px;
    justify-content: space-between;
}

.header__info {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header__name {
    font-size: 28px;
    line-height: 38px;
}

.header__location {
    font-size: 18px;
    line-height: 24px;
}

.header-dealer-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 120px;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__icon {
    cursor: pointer;
    border: 2px solid transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.header__icon:hover {
    border-color: var(--admss-app-main-blue);
}
