.header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: var(--admss-app-header-height);
    background: var(--admss-app-white-blue);
    border-bottom: 5px solid var(--admss-app-main-blue);
    display: flex;
    align-items: center;
    padding: 15px 20px;
    transition:
        height 0.3s ease,
        padding 0.3s ease;
}

.app-header-scrolled {
    .sidebar {
        padding-top: 26px;
    }
    .header {
        padding-right: 40px;
    }
}

.header__logo {
    transition: all 0.3s ease;
    margin: 0 0px;
    margin-right: 80px;
    width: 48px;
    height: 42px;
}

.header__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__info {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 23px;
    transition: gap 0.3s ease;
}

html.app-header-scrolled .header__info {
    gap: 6px;
}

.header__name {
    font-size: 22px;
    line-height: 100%;
    transition: font-size 0.3s ease;
}

.header__location {
    font-size: 18px;
    line-height: 100%;
    transition: font-size 0.3s ease;
}

.header-dealer-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 120px;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header__icon.profile-avatar {
    cursor: pointer;
    border: 2px solid transparent;
    width: 60px;
    height: 60px;
    --avatar-size: 60px;
    border-radius: 50%;
    transition:
        width 0.3s ease,
        height 0.3s ease;
}

.app-header-scrolled .header .header__icon.profile-avatar {
    width: 44px;
    height: 44px;
    --avatar-size: 44px;
}

.header__icon:hover {
    border-color: var(--admss-app-main-blue);
}
