.confirm-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.p-confirm-dialog .p-dialog-header {
    padding-bottom: 0;
}

.confirm-header__icon {
    font-size: 5rem;
    color: var(--admss-app-red);
    flex-grow: 1;
    width: 100%;
    text-align: center;
    padding-bottom: 48px;
}

.confirm-header__title {
    color: var(--admss-app-blue-text);
    font-weight: 400;
    font-size: 26px;
}

.confirm-body {
    font-size: 18px;
    font-weight: 200;
}

.p-confirm-dialog {
    width: 455px;
}

.p-confirm-dialog .p-dialog-content {
    padding: 0 40px;
    padding-top: 14px;
    line-height: 1.4;
    letter-spacing: 0.5px;
}

.p-confirm-dialog .p-dialog-footer {
    padding: 30px;
    padding-bottom: 48px;
    gap: 10px;
    margin: 0;
    border-radius: 0 0 var(--admss-app-dialog-border-radius) var(--admss-app-dialog-border-radius);
}

.p-confirm-dialog .p-confirm-dialog-reject {
    background-color: transparent;
    box-sizing: border-box;
    border: solid 1px var(--admss-app-red);
    color: var(--admss-app-red);
}

.p-confirm-dialog .p-button.p-confirm-dialog-reject:hover {
    background-color: transparent;
    border: solid 1px var(--admss-app-focus-red);
    color: var(--admss-app-red);
}
