.inventory-group {
    .row-edit__button.p-button {
        display: inline-flex;
        align-items: center;
        text-transform: uppercase;
        justify-content: center;
        font-weight: 600;
    }
    .col-12 {
        padding-top: 0;
    }
}

.inventory-group__header {
    display: flex;
    align-items: center;
    background: var(--admss-app-light-blue);
    height: 60px;
    font-weight: 600;
    margin-bottom: 6px;
}

.inventory-group__row {
    border-bottom: 1px solid var(--admss-app-light-grey);
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-bottom: 0px;
}

.settings-form .p-button {
    display: inline-flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    padding: 0 20px;
    border-radius: 4px;
}

.settings-form .row-edit__button.p-button {
    height: 50px;
    border-radius: 0 5px 5px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.group-actions__favorite.p-button.p-button-secondary {
    width: 40px;
}

.group-actions__delete.p-button.p-button-danger {
    color: var(--admss-app-red);
}

.inventory-group__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}

.settings-inventory .inventory-group__navigation__button {
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-inventory .inventory-group__navigation__button .pi {
    font-size: 20px;
}

.inventory-group__navigation__button.p-button.p-button-icon-only.p-button-rounded.p-button-text,
.inventory-group__navigation__button.p-button.p-button-success.p-button-text:enabled:focus,
.inventory-group__navigation__button.p-button.p-button-success.p-button-text:enabled:active,
.inventory-group__navigation__button.p-button.p-button-success.p-button-text:enabled:hover {
    font-size: 18px;
    border-radius: 50%;
    border: none;
    background: transparent;
    box-shadow: none;
}

.inventory-group__checkbox {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventory-group__name {
    flex: 1;
}

.inventory-group__actions {
    flex: 0 0 220px;
    min-width: 220px;
    display: flex;
    gap: 15px;
    .p-button {
        height: 40px;
    }
}

.inventory-group__body {
    .react-grid-item.react-grid-placeholder {
        background-color: var(--admss-app-lightest-grey);
        z-index: 1;
        border-bottom: 1px solid var(--admss-app-medium-blue);
        position: relative;
    }

    .react-draggable-dragging {
        z-index: 2;
    }
}

.layout {
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
}

.relative {
    position: relative;
}
