.access-multiselect {
    width: 100%;
    height: 50px;

    &.p-inputwrapper-filled.p-multiselect.p-multiselect-chip .p-multiselect-label {
        padding-left: 0.25rem;
    }
}

.edit-access .p-multiselect .p-multiselect-token {
    .p-multiselect-token-icon.p-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--admss-app-white);
        height: 20px;
        width: 20px;
        padding: 0.5rem;

        .p-button-icon {
            font-size: 10px;
        }

        &:hover:enabled,
        &:focus,
        &:active {
            background-color: var(--admss-app-primary-main-green);
            outline: none;
            box-shadow: none;
        }
    }
    height: 30px;
}
