.edit-access {
    width: 690px;

    .p-dialog-content-body {
        height: 530px;
    }
    .p-dialog-header {
        height: 144px;
        padding-top: 76px;
    }

    .edit-access__header {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        height: 70px;
    }

    .p-inputtext,
    .p-input-icon-right {
        height: 44px;
    }

    .p-datatable-table td,
    .edit-access__row {
        height: 44px;
    }
    .p-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        flex-basis: 220px;
    }
}

.access-multiselect {
    width: 40%;

    .access-multiselect__dropdown {
        width: 100%;
        height: 44px;

        &.p-inputwrapper-filled.p-multiselect.p-multiselect-chip .p-multiselect-label {
            padding-left: 0.25rem;
        }
    }
}

.edit-access .p-multiselect .p-multiselect-token {
    .p-multiselect-token-icon.p-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--admss-app-white);
        height: 20px;
        width: 20px;
        padding: 0.5rem;

        .p-button-icon {
            font-size: 10px;
        }

        &:hover:enabled,
        &:focus,
        &:active {
            background-color: var(--admss-app-primary-main-green);
            outline: none;
            box-shadow: none;
        }
    }

    height: 30px;
}
