.main {
    padding-top: 190px;
    height: 100%;
}

.card {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(41, 93, 194, 0.8);
    padding: 25px 30px;
}

.card-header {
    margin-bottom: 30px;
}

.card-content__title {
    margin-bottom: 30px;
    margin-top: 0;
}

.p-paginator .p-dropdown .p-inputtext {
    height: 100%;
}

@media screen and (min-width: 992px) {
    .main {
        margin-left: var(--admss-app-aside-small-width);
    }
}
