.main {
    padding-top: 190px;
    height: 100%;
}

.card {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(41, 93, 194, 0.8);
    padding: 25px 30px;
}

.card-header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 150px;
}

.card-content__title {
    margin-bottom: 30px;
    margin-top: 0;
}

.card-header-info__data {
    font-weight: 700;
    margin-left: 6px;
    margin-right: 30px;
    color: var(--admss-app-primary-main-green);
}

.p-paginator .p-dropdown .p-inputtext {
    height: 100%;
}

.p-button.close-button {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 20px;
    right: 30px;
    top: 30px;
    border-radius: 50%;
    color: var(--admss-app-main-blue);
    background-color: transparent;
    border-color: transparent;
    transition: color 0.3s;
}

.close-button .p-button-icon {
    font-size: 22px;
}

.close-button {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 20px;
    right: 40px;
    top: 40px;
    border-radius: 50%;
    color: var(--admss-app-primary);
    background-color: transparent;
    border-color: transparent;
}

.p-button.close-button:hover,
.p-button.close-button:focus {
    background-color: transparent;
    border-color: transparent;
    color: var(--admss-app-primary);
}

.search-dialog {
    width: 480px;
}
.p-inputtext:enabled:focus {
    box-shadow: none;
}

@media screen and (min-width: 992px) {
    .main {
        margin-left: var(--admss-app-aside-small-width);
    }
}
