.main {
    padding-top: 190px;
    height: 100%;
}

.card {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(41, 93, 194, 0.8);
    padding: 25px 30px;
}

.card-header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 4.6rem;
}

.card-content__wrapper {
    height: 48vh;
    max-height: 744px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card-content__wrapper::-webkit-scrollbar {
    width: 4px;
}

.card-content__title {
    margin-bottom: 30px;
    margin-top: 0;
}

.card-header-info__data {
    font-weight: 700;
    margin-left: 6px;
    margin-right: 30px;
    color: var(--admss-app-primary-main-green);
}

.p-paginator .p-dropdown .p-inputtext {
    height: 100%;
}

.p-button.close-button {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 20px;
    right: 30px;
    top: 30px;
    border-radius: 50%;
    color: var(--admss-app-main-blue);
    background-color: transparent;
    border-color: transparent;
    transition: color 0.3s;
}

.close-button .p-button-icon {
    font-size: 22px;
}

.close-button {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 20px;
    right: 40px;
    top: 40px;
    border-radius: 50%;
    color: var(--admss-app-primary);
    background-color: transparent;
    border-color: transparent;
}

.p-button.close-button:hover,
.p-button.close-button:focus {
    background-color: transparent;
    border-color: transparent;
    color: var(--admss-app-primary);
}

.p-inputtext:enabled:focus {
    box-shadow: none;
}

.p-datatable .p-datatable-header {
    border: none;
    box-shadow: none;
    background-color: var(--admss-app-white);
    padding: 0;
}

.p-multiselect-panel .p-multiselect-header {
    display: none;
}

.p-datatable-header .p-multiselect .p-multiselect-token {
    background: var(--admss-app-primary-main-green);
    color: var(--admss-app-white);
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    background-color: var(--admss-app-light-green);
    color: var(--admss-app-blue-text);
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
    border-color: var(--admss-app-medium-blue);
}
.p-datatable .p-datatable-thead > tr > th {
    border: 1px solid var(--admss-app-medium-blue);
}

.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
    border-top: none;
    border-bottom: none;
}

.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th:first-child {
    border-left: none;
}

.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th:last-child {
    border-right: none;
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr:first-child > td {
    border-top: none;
}
.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td:first-child {
    border-left: none;
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td:last-child {
    border-right: none;
}

.p-datatable.p-datatable-gridlines .p-paginator-bottom {
    border: none;
}

.p-float-label input.p-filled ~ label,
.p-inputtext:enabled:focus + .float-label,
.p-float-label .p-inputwrapper-filled ~ label {
    top: 0;
    left: 4px;
    color: var(--admss-app-medium-grey);
    margin-top: -16px;
    font-size: 12px;
}

@media screen and (min-width: 992px) {
    .main {
        margin-left: var(--admss-app-aside-small-width);
    }
}
