.main {
    padding-top: 190px;
    height: 100%;
}

.card {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(41, 93, 194, 0.8);
    padding: 25px 30px;
}

.card-header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.card-header__title {
    width: 312px;
}

.card-content__wrapper {
    height: 48vh;
    max-height: 744px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card-content__wrapper::-webkit-scrollbar {
    width: 4px;
}

.card-content__title {
    margin-bottom: 30px;
    margin-top: 0;
}

.card-header-info__data {
    font-weight: 700;
    margin-left: 6px;
    margin-right: 30px;
    color: var(--admss-app-primary-main-green);
}

.p-paginator .p-dropdown .p-inputtext {
    height: 100%;
}

.p-button.close-button {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 20px;
    right: 30px;
    top: 30px;
    border-radius: 50%;
    color: var(--admss-app-main-blue);
    background-color: transparent;
    border-color: transparent;
    transition: color 0.3s;
}

.close-button .p-button-icon {
    font-size: 22px;
}

.close-button {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 20px;
    right: 40px;
    top: 40px;
    border-radius: 50%;
    color: var(--admss-app-primary);
    background-color: transparent;
    border-color: transparent;
}

.p-button.close-button:hover,
.p-button.close-button:focus {
    background-color: transparent;
    border-color: transparent;
    color: var(--admss-app-primary);
}

.p-inputtext:enabled:focus {
    box-shadow: none;
}

.p-datatable .p-datatable-header {
    border: none;
    box-shadow: none;
    background-color: var(--admss-app-white);
    padding: 0;
}

.p-datatable-header .p-multiselect .p-multiselect-token,
.card-content .p-multiselect .p-multiselect-token {
    background: var(--admss-app-primary-main-green);
    color: var(--admss-app-white);
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    background-color: var(--admss-app-light-green);
    color: var(--admss-app-blue-text);
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
    border-color: var(--admss-app-medium-blue);
}
.p-datatable .p-datatable-thead > tr > th {
    border: 1px solid var(--admss-app-medium-blue);
}

.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
    border-top: none;
    border-bottom: none;
}

.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th:first-child {
    border-left: none;
}

.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th:last-child {
    border-right: none;
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr:first-child > td {
    border-top: none;
}
.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td:first-child {
    border-left: none;
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td:last-child {
    border-right: none;
}

.p-datatable.p-datatable-gridlines .p-paginator-bottom {
    border: none;
}

.p-float-label input.p-filled ~ label,
.p-inputtext:enabled:focus + .float-label,
.p-float-label .p-inputwrapper-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label textarea.p-filled ~ label {
    top: 0;
    left: 4px;
    color: var(--admss-app-medium-grey);
    margin-top: -16px;
    font-size: 12px;
}

.p-datatable-wrapper::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.p-datatable-wrapper::-webkit-scrollbar-thumb {
    border: 0.2em solid var(--admss-app-light-blue);
    border-radius: 0.6em;
    width: 6px;
}

.p-datatable-wrapper::-webkit-scrollbar-button:single-button {
    background: var(--admss-app-light-blue);
    display: block;
    border-style: solid;
    height: 8px;
    width: 8px;
}

.p-datatable-wrapper::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent var(--admss-app-primary) transparent;
}

.p-datatable-wrapper::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 7px 7px 0 7px;
    border-color: var(--admss-app-primary) transparent transparent transparent;
}

.p-datatable-wrapper::-webkit-scrollbar-button:single-button:horizontal:decrement {
    border-width: 7px 7px 7px 0;
    border-color: transparent var(--admss-app-primary) transparent transparent;
}

.p-datatable-wrapper::-webkit-scrollbar-button:single-button:horizontal:increment {
    border-width: 7px 0 7px 7px;
    border-color: transparent transparent transparent var(--admss-app-primary);
}

.p-datatable-wrapper::-webkit-scrollbar-track {
    background: var(--admss-app-light-blue);
}

.p-tooltip .p-tooltip-text {
    background: var(--admss-app-white);
    color: var(--admss-app-blue-text);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.p-tooltip .p-tooltip-arrow {
    display: none;
}

.p-error {
    position: absolute;
    bottom: -10px;
    left: 10px;
}

.form-line {
    width: 98.5%;
    padding: 0;
    border-top: var(--admss-app-light-grey);
    margin: 28px 0.5rem;
}

.text-line {
    display: flex;
}

.text-line__line {
    border: none;
    border-top: 1px solid var(--admss-app-light-grey);
    margin-top: 12px;
}

.text-line__title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.vehicle__dropdown-icon {
    height: 30px;
    width: 30px;
}

.form-nav__button {
    width: 245px;
    font-size: 24px;
    font-weight: 700;
    justify-content: center;
    height: 70px;
    transition: opacity 0.4s;
    text-transform: uppercase;
}

.row-edit {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

.row-edit__input {
    flex: 0 1 626px;
    border-radius: 5px 0 0 5px;
}

.row-edit__button.p-button {
    flex: 0 1 104px;
    height: 50px;
    border-radius: 0 5px 5px 0;
}

.p-dialog .card {
    box-shadow: none;
    min-height: 70vh;
}

.dashboard-loader__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
}

.dropdown-icon {
    height: 30px;
    width: 30px;
}

.p-menu .p-menuitem-link:not(.p-disabled):hover {
    background: var(--admss-app-light-green);
}

.p-dropdown-panel.p-component {
    max-width: 250px;
}

.p-accordion
    .vertical-step-menu
    .p-steps-item.section-invalid
    .p-menuitem-link.vertical-nav
    .p-steps-number.vertical-nav__icon {
    border-color: var(--admss-app-red);
}

.p-accordion
    .vertical-step-menu
    .p-steps-item.section-valid
    .p-menuitem-link.vertical-nav
    .p-steps-number.vertical-nav__icon {
    background-color: var(--admss-app-green);
}

.splitter {
    display: flex;
}

.splitter__line {
    border: none;
    border-top: 1px solid var(--admss-app-light-grey);
    margin-top: 12px;
}

.splitter__title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
    color: var(--admss-app-blue-text);
}

@media screen and (min-width: 992px) {
    .main {
        margin-left: var(--admss-app-aside-small-width);
    }
}

