.video-upload {
    height: 343px;
}

.media-video__image {
    border-radius: 5px;
}

.media-video__item {
    width: 48%;
    & > .media-uploaded__checkbox {
        margin-left: 0;
    }
}

.presentation__video {
    object-fit: cover;
    border-radius: 2px;
}

.video-choose .info-panel__panel {
    min-width: 427px;
}

.media-preview {
    width: 29px;
    height: 29px;
    display: inline-flex;
    justify-content: center;
    border-radius: 4px;
    align-items: center;
    background-color: var(--admss-app-primary-main-green);
}

.media-preview__icon {
    color: var(--admss-app-white);
    font-size: 18px;
}
