.cobuyer-info {
    position: relative;

    .cobuyer-info__checkbox {
        display: flex;
        position: absolute;
        top: -150px;
        right: 0;
        padding-right: 10px;
        align-items: center;
    }

    .cobuyer-info__label {
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        line-height: 1;
        color: var(--admss-app-primary);
        padding-left: 10px;
        cursor: pointer;
    }
}
