.combo-box {
    .p-dropdown-trigger {
        color: var(--admss-app-light-grey);
        &:hover {
            color: var(--admss-app-lightest-grey);
        }
        .p-icon {
            font-size: 14px;
        }
    }
}
.combo-box__list .combo-box__list-item {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
