.sign {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: url("./background-sign.png") no-repeat;
    background-size: cover;
}

.sign-in {
    background: var(--surface-a);
    width: 360px;
    border-radius: 15px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.sign-in-wrapper {
    width: 300px;
    margin: auto;
}

.sign__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--admss-app-main-blue);
    text-align: center;
    font-size: 2.66rem;
}

.sign__button {
    width: 240px;
    font-size: 1.1rem;
}

.sign__input {
    width: 100%;
    border-color: var(--admss-app-light-grey);
    color: var(--admss-app-primary);
}

.sign-in__input.space {
    margin-bottom: 1rem;
}

.sign__icon {
    color: var(--admss-app-light-grey) !important;
}

.sign-controls {
    text-align: center;
    margin: 0;
}

.sign-controls__link {
    text-decoration: none;
    font-weight: 800;
    color: var(--admss-app-main-blue);
}

.user-help {
    color: #676767;
    margin-bottom: 30px;
}

.user-help__label {
    color: var(--admss-app-primary);
    font-size: .77rem;
}

.user-help__link {
    color: var(--admss-app-deep-blue);
    text-decoration: none;
    font-size: .77rem;
}

@media (min-width: 768px) {
    .sign-in {
        width: 420px;
    }
}

@media (min-width: 1400px) {
    .sign-in {
        width: 460px;
    }
}

@media (min-width: 1920px) {
    .sign-in {
        width: 545px;
    }
}
