.sign {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: url("./background-sign.png");
}

.sign-in {
    background: var(--surface-a);
    width: 545px;
    border-radius: 15px;
    padding: 85px 70px 70px 70px;
}

.sign__title {
    margin-top: 0;
    margin-bottom: 40px;
    color: var(--primary-color);
    text-align: center;
    font-size: 3rem;
}

.sign__button {
    width: 300px;
    font-size: 1.33rem;
    font-weight: 700;
}

.sign__input {
    height: 53px;
    width: 100%;
    border-color: var(--admss-app-light-grey);
    color: var(--admss-app-light-grey);
}

.sign__icon {
    color: var(--admss-app-light-grey) !important;
}

.sign-controls {
    text-align: center;
    margin: 0;
}

.sign-controls__link {
    text-decoration: none;
    font-weight: 800;
    color: var(--primary-color);
}

.user-help {
    color: #676767;
}

.user-help__label {
    color: var(--admss-app-primary-blue-text);
}

.user-help__link {
    color: var(--admss-app-secondary-deep-blue);
    text-decoration: none;
    font-weight: 600;
}
