.info-panel {
    position: relative;
}
.info-panel__button {
    border-radius: 50%;
    border: none;
    background: var(--admss-app-medium-blue);
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
        color: var(--admss-app-medium-blue);
        transition: all 0.4s ease-in-out;
    }
}

.info-panel__button--pulse {
    width: 42px;
    height: 42px;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 4px var(--admss-app-main-blue);
    }

    70% {
        box-shadow: 0px 0px 8px var(--admss-app-main-blue);
    }

    100% {
        box-shadow: 0px 0px 4px var(--admss-app-main-blue);
    }
}

.info-panel__title {
    font-size: 16px;
    font-weight: 700;
    color: var(--admss-app-main-blue);
}

.info-panel__body {
    font-size: 16px;
    line-height: 1;
}
.info-panel__button {
    background: var(--admss-app-light-blue);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s;
    cursor: pointer;
}

.info-panel__button.p-button:hover,
.info-panel__button.p-button:active,
.info-panel__button.p-button:focus {
    box-shadow: none;
    border: none;
    background-color: var(--admss-app-main-blue);
}

.info-panel__icon {
    color: #fff;
    line-height: 1;
    font-size: 16px;
}

.info-panel__icon-wrapper:hover {
    background-color: var(--admss-app-medium-blue);
}

.info-panel__panel {
    position: absolute;
    border-radius: 10px;
    z-index: 999;
    background-color: #fff;
    padding: 20px;
    bottom: 64px;
    right: -4px;
}
