.input-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    background: var(--admss-app-lightest-grey);
    border: var(--admss-app-light-grey) solid 1px;
    width: 49px;
    flex-shrink: 0;
    color: var(--admss-app-medium-grey);
}

.input-icon.input-icon-left {
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.input-icon.input-icon-right {
    border-radius: 0 5px 5px 0;
    border-left: none;
}

.radio-item {
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    border: 1px solid var(--admss-app-light-grey);
}

.radio .radio-item__input {
    order: 2;
    border-left: 1px solid var(--admss-app-light-grey);
    height: 100%;
    background-color: var(--admss-app-lightest-grey);
    padding: 0 10px;
}

.radio .radio-item__label {
    padding-left: 10px;
    order: 1;
}

.radio .p-radiobutton-checked .p-radiobutton-box.p-highlight {
    border: var(--admss-app-dark-green) solid 4px;
}

.currency-item__input,
.currency-item__input .p-inputnumber-input {
    height: 50px;
    border-radius: 0;
}

.currency-item__input .p-inputnumber-input {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.date-item__input .p-inputtext {
    border-radius: 5px 0 0 5px;
}

.date-item__input {
    display: flex;
    align-items: center;
}

.date-item__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--admss-app-lightest-grey);
    width: 50px;
    height: 50px;
    border: 1px solid var(--admss-app-light-grey);
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.date-item__input .date-item__icon {
    height: 50px;
}

.date-item__calendar--checkbox {
    width: 55%;
}

.date-item__calendar--checkbox .p-inputtext {
    border-radius: 0px;
}

.label-top {
    position: absolute;
    top: 0;
    left: 4px;
    color: var(--admss-app-medium-grey);
    margin-top: -16px;
    font-size: 12px;
}

.percent-item__input .p-inputnumber-input {
    width: 100%;
    border-radius: 5px 0 0 5px;
}

.bordered-checkbox {
    border: 1px solid var(--admss-app-light-grey);
    border-radius: 5px;
    padding-left: 10px;
}

.bordered-checkbox .p-inputgroup-addon {
    height: 100%;
    border: none;
    border-left: 1px solid var(--admss-app-light-grey);
}
.bordered-checkbox .p-inputgroup-addon .p-checkbox-box {
    border-color: var(--admss-app-light-grey);
}

.bordered-checkbox .p-inputgroup-addon .p-checkbox-box.p-focus {
    box-shadow: none;
}

.bordered-checkbox .p-disabled {
    color: var(--admss-app-medium-grey);
}

.search-input__wrapper,
.search-input__wrapper .p-dropdown.p-inputwrapper,
.search-input__wrapper .p-inputtext {
    height: 50px;
    width: 100%;
}

.search-input__wrapper .p-dropdown {
    border-radius: 5px 0 0 5px;
}

.search-input__icon {
    height: 100%;
    padding-top: 4px;
    cursor: pointer;
}

.search-input__icon .icon {
    font-size: 20px;
}
