.sidebar {
    position: fixed;
    padding-top: 40px;
    left: 0;
    width: var(--admss-app-aside-small-width);
    top: 150px;
    height: 100vh;
    background: var(--primary-color);
}

.sidebar-nav {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    color: #fff;
    width: 100%;
}

.sidebar-nav__item {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    cursor: pointer;
    padding: 8px 0;
}

.sidebar-nav__item:hover {
    background: var(--admss-app-bg-colour);
}

.sidebar-nav__link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    width: 100%;
    height: 100%;
}

.sidebar-nav__item:hover .sidebar-nav__link {
    color: var(--primary-color);
}

.sidebar-nav__icon {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}
