.sidebar {
    position: fixed;
    padding-top: 40px;
    left: 0;
    width: var(--admss-app-aside-small-width);
    top: 150px;
    height: 100vh;
    background: var(--admss-app-main-blue);
}

.sidebar-nav {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    color: #fff;
    width: 100%;
}

.sidebar-nav__item {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    cursor: pointer;
    padding: 8px 0;
}

.sidebar-nav__item:hover {
    background: var(--admss-app-white-blue);
}

.sidebar-nav__link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    width: 100%;
    height: 100%;
}

.sidebar-nav__item:hover .sidebar-nav__link {
    color: var(--admss-app-main-blue);
}

.sidebar-nav__icon {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.sidebar-nav__icon.home {
    background-image: url("assets/images/icons/sidebar/home_normal.svg");
}

.sidebar-nav__item:hover .sidebar-nav__icon.home {
    background-image: url("assets/images/icons/sidebar/home_onHover.svg");
}

.sidebar-nav__icon.inventory {
    background-image: url("assets/images/icons/sidebar/inventory_normal.svg");
}

.sidebar-nav__item:hover .sidebar-nav__icon.inventory {
    background-image: url("assets/images/icons/sidebar/inventory_onHover.svg");
}

.sidebar-nav__icon.contacts {
    background-image: url("assets/images/icons/sidebar/contacts_normal.svg");
}

.sidebar-nav__item:hover .sidebar-nav__icon.contacts {
    background-image: url("assets/images/icons/sidebar/contacts_onHover.svg");
}

.sidebar-nav__icon.deals {
    background-image: url("assets/images/icons/sidebar/deals_normal.svg");
}

.sidebar-nav__item:hover .sidebar-nav__icon.deals {
    background-image: url("assets/images/icons/sidebar/deals_onHover.svg");
}

.sidebar-nav__icon.accounts {
    background-image: url("assets/images/icons/sidebar/accounts_normal.svg");
}

.sidebar-nav__item:hover .sidebar-nav__icon.accounts {
    background-image: url("assets/images/icons/sidebar/accounts_onHover.svg");
}

.sidebar-nav__icon.reports {
    background-image: url("assets/images/icons/sidebar/reports_normal.svg");
}

.sidebar-nav__item:hover .sidebar-nav__icon.reports {
    background-image: url("assets/images/icons/sidebar/reports_onHover.svg");
}
