.p-accordion.reports__accordion {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.p-accordion.reports__accordion .p-accordion-content {
    border: none;
}

.reports__accordion-tab:has(.reports__accordion--inner) .p-accordion-content {
    padding-left: 0;
    padding-right: 0;
}
.reports__accordion-tab:has(.reports__accordion--inner) .p-accordion-header-text {
    display: flex;
    width: 100%;
}

.reports__accordion-tab:has(.reports__accordion--inner) .reports-accordion-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reports__accordion-tab:has(.reports__accordion--inner) .p-accordion-header-link {
    padding-left: 50px;
}

.reports__list-item--inner {
    padding-left: 80px;
    padding-right: 20px;
}

.reports .p-accordion-content {
    border-left: none;
    border-right: none;
    padding-left: 3rem;
}

.p-accordion.reports__accordion
    .p-accordion-header:not(.p-disabled):hover
    .p-accordion-header-link {
    background-color: var(--admss-app-light-green);
    border: 1px solid var(--admss-app-primary-main-green);
}

.p-accordion.reports__accordion
    .p-accordion-tab:not(:first-child)
    .p-accordion-header:not(.p-disabled):hover
    .p-accordion-header-link {
    border-top: 1px solid var(--admss-app-primary-main-green);
}

.p-accordion .p-accordion-header.reports__accordion-tab .p-accordion-header-link {
    background-color: var(--admss-app-white);
    border-radius: 5px;
}

.p-accordion
    .reports__accordion-tab.p-accordion-header:not(.p-disabled).p-highlight
    .p-accordion-header-link {
    border-radius: 5px;
}

.p-accordion.reports__accordion .p-accordion-tab .p-accordion-header .p-accordion-header-link {
    border: 1px solid var(--admss-app-primary-main-green);
}

.p-accordion .p-accordion-header.reports__accordion-tab.p-highlight .p-accordion-header-link {
    background-color: var(--admss-app-light-green);
}

.p-accordion
    .p-accordion-header.reports__accordion-tab
    .p-accordion-header-link
    .p-accordion-toggle-icon {
    rotate: 90deg;
}

.p-accordion
    .p-accordion-header.reports__accordion-tab.p-highlight
    .p-accordion-header-link
    .p-accordion-toggle-icon {
    rotate: 180deg;
}

.reports-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.reports-accordion-header__info {
    color: var(--admss-app-medium-grey);
    font-weight: 400;
}

.reports-header__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    gap: 10px;
}
.reports-header__button .p-button-icon,
.reports-actions .p-button-icon-only .p-button-icon {
    font-size: 12px;
    font-weight: 600;
}

.reports-header__search {
    margin-left: auto;
}

.reports-header__search .p-inputtext {
    width: 180px;
    height: 50px;
}

.reports__list-item {
    display: flex;
    align-items: center;
}

.reports__list-item .reports-actions {
    margin-left: auto;
    gap: 15px;
}

.reports-actions .p-button-icon-only {
    width: 40px;
    height: 40px;
}

.reports-actions .p-button-icon-only .p-button-icon {
    font-size: 16px;
    font-weight: 400;
}

.reports-actions .p-button-icon-only.reports-actions__add-button .p-button-icon {
    font-size: 0.5rem;
    font-weight: 600;
}

.new-collection.p-panel .p-panel-content {
    border: none;
    background-color: var(--admss-app-lightest-grey);
}

.new-collection__multiselect {
    height: 50px;
    display: inline-flex;
    align-items: center;
}

.reports-actions__button.p-button.p-button-outlined {
    height: 40px;
    background: var(--admss-app-white);
}

.reports-accordion-header__label {
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--admss-app-warning-blue);
    background-color: var(--admss-app-white);
    border: 1px solid var(--admss-app-warning-blue);
}
