.quick-pay__total {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.quick-pay__title {
 font-size: 32px;
}

.quick-pay__input {
 display: flex;

 .p-inputnumber-input {
     width: 200px;
     border-top-right-radius: 0px;
     border-bottom-right-radius: 0px;
 }

 .p-button {
     border-top-left-radius: 0px;
     border-bottom-left-radius: 0px;
     width: 50px;
     height: 50px;
     background: var(--admss-app-light-grey);
     color: var(--admss-app-medium-grey);
 }
}
