.general-info__dropdown {
    height: 50px;
}

.general-info__text-input[readonly] {
    user-select: none;
    &:hover {
        border-color: var(--admss-app-light-grey);
    }
}

.general-info__button {
    width: 246px;
    height: 54px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
}

.general-info-overwrite {
    display: flex;
    align-items: center;
}

.general-info-overwrite__icon.p-button {
    color: var(--admss-app-main-blue);
    &:enabled:hover {
        color: var(--admss-app-main-blue);
        border: none;
        background-color: transparent;
        outline: none;
        box-shadow: none;
    }
}
