.general-info__dropdown {
    height: 50px;
}

.general-info__text-input[readonly] {
    cursor: default;
    &:hover {
        border-color: var(--admss-app-light-grey);
    }
}

.general-info__button {
    width: 245px;
    height: 54px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
}

.general-info-overwrite {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-family: "Open Sans";
    font-size: 18px;
}

.general-info-overwrite__label {
    padding-left: 15px;
    line-height: 1;
}

.general-info-overwrite__icon.p-button {
    color: var(--admss-app-main-blue);
    border: none;
    background-color: transparent;
    &:enabled:hover {
        color: var(--admss-app-main-blue);
        border: none;
        background-color: transparent;
        outline: none;
        box-shadow: none;
    }
}

.p-float-label .p-tooltip-target-wrapper ~ label {
    top: 0;
    left: 4px;
    color: var(--admss-app-medium-grey);
    margin-top: -16px;
    font-size: 12px;
}

.overwrite-tooltip .p-tooltip-text {
    box-shadow: 0 0 5px 0 var(--admss-app-dark-blue);
    background-color: var(--admss-app-white-blue);
}
