.truncated-text {
    --truncated-text-width: 100%;

    width: var(--truncated-text-width);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.splitter {
    display: flex;
    align-items: center;
    .splitter__line + * {
        margin-left: 15px;
    }
}
