.media .p-fileupload-content {
    background: var(--admss-app-white-blue);
}

.p-button.media__button {
    background: var(--admss-app-main-blue);
    border: none;
    outline: none;
    font-size: 20px;
}

.p-button.media__button:hover {
    background: var(--admss-app-medium-blue);
}

.p-button.media__button:focus,
.p-button.media__button:active {
    box-shadow: none;
}

.media__button:hover {
    background: var(--admss-app-main-blue);
}

.media__upload-icon {
    font-size: 4em;
    color: var(--admss-app-medium-blue);
}

.media__upload-icon-label {
    color: var(--admss-app-primary);
    font-weight: 600;
    font-size: 20px;
}

.media .p-fileupload-content {
    border-color: var(--admss-app-medium-blue);
    border-radius: 5px;
}

.media__upload-tag {
    background: var(--admss-app-light-blue);
    cursor: default;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--admss-app-darkest-blue);
    margin: 0 5px;
}

.media__upload-text-info {
    font-size: 14px;
    margin: 0 18px;
}

.media__upload-text-info--bold {
    font-weight: 700;
}

.media__line {
    border-top: 1px solid var(--admss-app-medium-blue);
    margin-top: 12px;
}

.media-input {
    display: flex;
    justify-content: space-between;
}

.media-input__dropdown,
.media-input__button {
    width: 23%;
}

.media-input__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
}

.media-input__text {
    width: 48%;
}

.media-input__text,
.media-input__dropdown {
    height: 50px;
    align-items: center;
}

.media__remove-button.p-button {
    background: transparent;
    color: var(--admss-app-primary);
    border: none;
}

.media .p-fileupload-content {
    width: 100%;
}

.media > .p-fileupload-content:has(div) {
    display: flex;
    width: 100%;
}

.media .p-fileupload-content > div:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
}

.media .p-fileupload-row {
    width: 22%;
}

.media__remove-button.p-button:hover {
    color: var(--admss-app-medium-blue);
    background: transparent;
}

.media-uploaded {
    padding-top: 50px;
    display: flex;
    width: 98%;
    align-items: center;
}

.media-uploaded__label {
    color: var(--admss-app-light-grey);
}

.media-uploaded__line {
    border: none;
    border-top: 1px solid var(--admss-app-light-grey);
    margin-top: 12px;
}

.media-uploaded__title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.uploaded-count {
    font-weight: 600;
    font-size: 18px;
}

.uploaded-count--blue {
    color: var(--admss-app-main-blue);
}

.media-images {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px 15px;
    padding-top: 50px;
    color: var(--admss-app-light-grey);
}

.media-images__image {
    border-radius: 5px;
}

.media-images__item {
    display: flex;
    width: 48%;
    box-shadow: 1px 1px 5px 0px rgba(41, 93, 194, 0.5);
    padding: 15px;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.image-info {
    margin-left: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 7px;
    justify-content: space-around;
}

.image-info__item {
    color: var(--admss-app-primary);
    font-size: 14px;
    display: flex;
    gap: 7px;
    align-items: center;
}

.media-uploaded__label {
    font-weight: 600;
    color: var(--admss-app-primary);
}

.media-uploaded__checkbox {
    margin: 0 15px;
}

.media-images__item > .media-uploaded__checkbox {
    margin-left: 0;
}

.media-uploaded__checkbox .p-checkbox .p-checkbox-box {
    border-top: 1px solid var(--admss-app-light-grey);
}

.image-info__icon {
    color: var(--admss-app-primary-main-green);
}

.image-info__text--bold {
    font-weight: 600;
}

.media-images__close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
