.users {
    margin: 0;

    .users-table-row--disabled {
        color: var(--admss-app-light-grey);
    }

    .users-table {
        .p-datatable-thead > tr > th {
            width: auto;
        }
    }
}

.users__title {
    font-weight: 900;
    font-size: 20px;
}

.dashboard-loader__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.users-confirm-dialog {
    .confirm-header__icon {
        font-size: 6rem;
        padding-bottom: 20px;
    }

    .confirm-header__title {
        padding-top: 0px;
        padding-bottom: 20px;
        font-size: 26px;
    }

    .confirm-body {
        padding-left: 74px;
        padding-right: 80px;
    }

    .p-dialog-footer {
        padding-top: 42px;
        padding-bottom: 50px;
        .p-button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            width: 130px;
            height: 60px;
            font-weight: 600;
        }
    }
}
