.media {
    &.grid {
        margin: 0;
    }

    .layout {
        margin: 0 -10px;
    }

    .p-fileupload {
        background: var(--admss-app-white-blue);
        border: dotted 1px var(--admss-app-medium-blue);
        border-radius: 5px;
        display: flex;
        flex-direction: column-reverse;

        &.p-fileupload-advanced {
            height: 343px;
            flex: 1;
            justify-content: center;
            align-items: center;
            .p-fileupload-content {
                flex: 1;
            }
        }
    }
}

.media-warning {
    .confirm-header__icon {
        padding-bottom: 36px;
        &::before {
            font-size: 5.5rem;
        }
    }

    .confirm-header__title {
        padding-bottom: 12px;
    }

    .p-dialog-content {
        padding-bottom: 14px;
    }

    .p-dialog-footer {
        .p-button {
            height: 60px;
        }
    }
}
