.account-promise__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 210px;
    font-weight: 700;
}

.account-promise__menubar {
    width: 340px;

    .p-submenu-list {
        width: 100%;
        .p-menuitem-link {
            justify-content: start;
        }
    }

    .p-menuitem-link {
        justify-content: space-between;
    }

    .p-menuitem,
    .p-menubar-root-list {
        width: 100%;
    }
}
