.user-profile {
    --card-height: calc(var(--admss-app-default-card-height) - 75px);
    --content-height: 680px;
    --title-height: 63px;
    position: relative;
    padding: 0;

    .splitter {
        padding: 20px 0;
        letter-spacing: -1px;
    }
}

.user-profile.data-table-wrapper .p-tabview {
    flex-direction: row;
}

.user-profile__card {
    padding: 40px;
    padding-right: 30px;
    height: calc(var(--card-height) + var(--title-height));
    max-height: var(--card-max-height);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.user-profile__panel .user-profile__content .user-profile__header {
    margin-bottom: 0px;
    letter-spacing: -0.7px;
    font-stretch: condensed;
}

.user-profile__header {
    display: flex;
    margin-bottom: 30px;
}

.user-profile__title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    
}

.user-profile__close-button {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 20px;
    right: 40px;
    top: 40px;
    border-radius: 50%;
    color: var(--admss-app-primary);
    background-color: transparent;
    border-color: transparent;
    transition: color 0.3s;
}

.user-profile__close-button .p-button-icon {
    font-size: 22px;
}

.user-profile__close-button:hover,
.user-profile__close-button:focus {
    background-color: transparent;
    border-color: transparent;
    color: var(--admss-app-primary);
}

.user-profile__tabs {
    display: flex;
    border-right: 2px solid var(--admss-app-light-blue);
}

.user-profile__tabs .p-tabview-nav {
    flex-direction: column;
    flex: 0 0;
    width: var(--admss-app-card-sidebar-width);
    border: none;
    min-height: 527px;
    height: 100%;
}

.user-profile__tabs .p-tabview-panels {
    flex: 1;
    padding: 0;
    padding-left: 40px;
    min-height: 566px;
    border-left: 2px solid var(--admss-app-light-blue);
    border-radius: 0;
    overflow: hidden;
    overflow-y: scroll;
}

.user-profile__tabs > .p-tabview-nav-container a.p-tabview-nav-link {
    color: var(--admss-app-primary);
    height: 50px;
    border: none;
}

.p-tabview .p-tabview-nav .p-tabview-selected .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none;
}

.user-profile__tabs > .p-tabview-nav-container a.p-tabview-nav-link[aria-selected="true"] {
    color: var(--admss-app-primary);
    background: var(--admss-app-light-blue);
    border-radius: 5px 0 0 5px;
}

.user-profile__buttons {
    display: flex;
    margin-top: auto;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 25px;
    padding-right: 30px;
}

.user-profile__update-button {
    text-transform: uppercase;
    padding-left: 2rem;
    padding-right: 2rem;
}

.user-profile__content {
    padding: 0 2rem;
}

.user-profile__section {
    margin-bottom: 40px;
}

.user-profile__section:last-child {
    margin-bottom: 0;
}

.user-profile__section-title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--admss-app-primary);
    font-family: "Open Sans", sans-serif;
}
