.accounts {
    --accounts-filter-width: 250px;
    .datatable-controls {
        gap: 20px;
    }

    .accounts-dropdown {
        width: 230px;
        height: 50px;
        align-items: center;
    }

    .account-top-controls {
        display: flex;
        gap: 20px;
    }

    .account__accordion {
        border: none;
        width: var(--admss-app-card-sidebar-width);
    }

    .account__accordion .p-accordion-header .p-accordion-header-link,
    .account__accordion .p-accordion-header.p-highlight:hover .p-accordion-header-link:hover,
    .account__accordion
        .p-accordion-header:not(.p-highlight):not(.p-disabled):hover
        .p-accordion-header-link,
    .account__accordion
        .p-accordion-header.p-highlight
        .p-accordion-header-link[aria-expanded="true"] {
        border: none;
        background: white;
        box-shadow: none;
        background-color: white;
    }

    .account__accordion .p-steps .p-steps-item .p-menuitem-link:not(.p-disabled):focus,
    .account__accordion .p-steps .p-steps-item .p-menuitem-link:focus {
        box-shadow: none;
    }

    .account__accordion .p-accordion-content {
        padding: 0;
        border: none;
    }

    .account-form {
        width: 100%;
        padding: 0 40px;
        min-height: 705px;
        border-right: 2px solid var(--admss-app-light-blue);
        border-left: 2px solid var(--admss-app-light-blue);
    }

    .account-form__title {
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 700;
    }

    .p-dialog-top {
        padding-top: 16vh;
    }

    .accounts-filter {
        width: 250px;
        height: 50px;
    }

    .p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(.p-datatable-tbody)
        .p-datatable-tbody
        > tr.p-datatable-emptymessage
        > td {
        border-bottom: none;
        border-width: 0;
    }

    .p-tabview .p-tabview-panels {
        padding-left: 0;
        padding-right: 0;
    }
}

.audit-filter {
    width: 300px;
}

.audit-filter__panel {
    .p-dropdown-item .accounts-filter__item {
        white-space: nowrap;
    }
}

.accounts-filter__item,
.audit-filter__item {
    width: 180px;
    white-space: normal;
    line-height: 1.2;
    word-wrap: break-word;
}

.accounts-filter__selected {
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.accounts-filter__selected .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    white-space: normal;
    line-height: 1.2;
    height: auto;
    min-height: 20px;
    padding: 8px 12px;
}
.accounts-filter__clear-button {
    position: absolute;
    right: 26px;
    width: 20px;
    height: 50px;
    top: 0;
    background-color: transparent;
    color: var(--admss-app-darkest-grey);
    border: none;
    cursor: pointer;
    &:enabled:hover,
    &:enabled:focus,
    &:enabled:active {
        box-shadow: none;
        background-color: transparent;
        color: var(--admss-app-lightest-grey);
    }
}

.accounts-filter-wrapper {
    position: relative;
    height: 50px;
}

.accounts .col-12 .p-datatable-wrapper {
    height: 62vh;
}

.accounts .col-12 .p-tabview-panels {
    padding-bottom: 0;
}

.accounts .card-header {
    align-items: stretch;
}

.accounts .p-tabview .p-tabview-nav {
    border-bottom: 2px solid var(--admss-app-light-grey);
    margin-bottom: 30px;
}

.accounts.card .data-table-wrapper {
    height: calc(var(--data-table-wrapper-height, var(--admss-app-default-card-height)) - 187px);
}

.p-tabview .p-tabview-nav li.accounts__header .p-tabview-nav-link {
    font-weight: 700;
    color: var(--admss-app-primary);
}

.p-tabview .p-tabview-nav li.accounts__header .p-tabview-nav-link {
    border: none;
    border-bottom: 2px solid var(--admss-app-light-grey);
}

.p-tabview .p-tabview-nav li.p-highlight.accounts__header .p-tabview-nav-link {
    color: var(--admss-app-main-blue);
    border-bottom: 2px solid var(--admss-app-main-blue);
}

.p-tabview
    .p-tabview-nav
    li.accounts__header:not(.p-highlight):not(.p-disabled):hover
    .p-tabview-nav-link {
    color: var(--admss-app-main-blue);
    border-color: transparent;
    border-bottom-color: var(--admss-app-light-grey);
}
