.contact__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 45px;
}

.contact-top-controls {
    display: flex;
    gap: 20px;
}

.contact__accordion {
    border: none;
    width: 343px;
}

.contact__accordion .p-accordion-header .p-accordion-header-link,
.contact__accordion .p-accordion-header.p-highlight:hover .p-accordion-header-link:hover,
.contact__accordion
    .p-accordion-header:not(.p-highlight):not(.p-disabled):hover
    .p-accordion-header-link,
.contact__accordion .p-accordion-header.p-highlight .p-accordion-header-link[aria-expanded="true"] {
    border: none;
    background: white;
    box-shadow: none;
    background-color: white;
}

.contact__accordion .p-steps .p-steps-item .p-menuitem-link:not(.p-disabled):focus,
.contact__accordion .p-steps .p-steps-item .p-menuitem-link:focus {
    box-shadow: none;
}

.contact__accordion .p-accordion-content {
    padding: 0;
    border: none;
}

.contact-form {
    width: 100%;
    padding: 0 40px;
    min-height: 705px;
    border-right: 2px solid var(--admss-app-light-blue);
    border-left: 2px solid var(--admss-app-light-blue);
}

.contact-form__title {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 700;
}

.contacts__button.p-button-outlined {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--admss-app-light-green);
    color: var(--admss-app-dark-green);
    width: 100%;
    font-weight: 700;
}

.contact-social {
    display: flex;
    align-items: center;
}

.contact-social__input {
    height: 50px;
    border-radius: 5px 0 0 5px;
}

.contact-social__icon {
    flex: 0 0 50px;
    font-size: 24px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--admss-app-medium-grey);
    background-color: var(--admss-app-lightest-grey);
    border-radius: 0 5px 5px 0;
    border: 1px solid var(--admss-app-light-grey);
    border-left: none;
}

