.contact__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 45px;
}

.contact__accordion {
    border: none;
    width: 343px;
}

.contact__accordion .p-accordion-header .p-accordion-header-link,
.contact__accordion .p-accordion-header.p-highlight:hover .p-accordion-header-link:hover,
.contact__accordion
    .p-accordion-header:not(.p-highlight):not(.p-disabled):hover
    .p-accordion-header-link,
.contact__accordion .p-accordion-header.p-highlight .p-accordion-header-link[aria-expanded="true"] {
    border: none;
    background: white;
    box-shadow: none;
    background-color: white;
}

.contact__accordion .p-steps .p-steps-item .p-menuitem-link:not(.p-disabled):focus,
.contact__accordion .p-steps .p-steps-item .p-menuitem-link:focus {
    box-shadow: none;
}

.contact__accordion .p-accordion-content {
    padding: 0;
    border: none;
}

.contact-form {
    width: 100%;
    padding: 0 40px;
    min-height: 705px;
    border-right: 2px solid var(--admss-app-light-blue);
    border-left: 2px solid var(--admss-app-light-blue);
}

.contact-form__title {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 700;
}

.form-line {
    width: 100%;
    padding: 0;
    border-top: var(--admss-app-light-grey);
    margin: 28px 0;
}
