.report__card {
    max-height: 70vh;
    .p-tree {
        height: 56vh;
        border: none;
        .p-treenode {
            padding: 0;
            .p-treenode-droppoint {
                border: none;
                margin: 0;
                &.p-treenode-droppoint-active {
                    background: var(--admss-app-light-blue);
                }
            }
        }

        .p-treenode-content {
            &.report__list-item--toggler-visible {
                .p-tree-toggler {
                    visibility: visible;
                }
            }
            &:hover {
                background: var(--admss-app-light-blue);
            }
        }
        .report__list-item--selected-container {
            color: var(--admss-app-primary);
            background: var(--admss-app-light-blue);
            border-radius: 0;
        }
    }
    .p-tree-container {
        height: 100%;
        border: none;
        .p-treenode .p-treenode-content.p-treenode-dragover {
            background: var(--admss-app-light-blue);
        }
        .p-treenode .p-treenode-content .p-tree-toggler:focus {
            box-shadow: none;
        }
    }
}

.report-form {
    flex-direction: column;
    max-height: 70vh;
    padding-top: 20px;
}

.report-form__header {
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 700;
}

.report-controls {
    display: flex;
    width: 98%;
    margin: 30px auto;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--admss-app-light-blue);
    border: var(--admss-app-light-blue) solid 1px;
    flex-wrap: wrap;
}

.report-controls__top {
    flex: 1 0 100%;
    height: 50px;
    padding-left: 84px;
    margin: 30px;
}
.report-controls__dropdown {
    width: 370px;
    text-transform: capitalize;
}

.report-control {
    justify-content: center;
    margin: 10px;
}

.report-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.report-control__button.p-button {
    width: 30px;
    height: 30px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: var(--admss-app-primary);
    background-color: var(--admss-app-medium-blue);
}

.report-select {
    border: var(--admss-app-medium-blue) solid 1px;
    border-radius: 5px;
    width: 370px;
    margin-bottom: 30px;
}

.report-select__header {
    background-color: var(--admss-app-white-blue);
    border-bottom: var(--admss-app-medium-blue) solid 1px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    padding: 15px;
}

.report-control__button.p-button.p-button-outlined:enabled:hover,
.p-button.p-button-outlined:not(button):not(a):not(.p-disabled):hover {
    box-shadow: none;
    border: none;
    color: var(--admss-app-primary);
    background: var(--admss-app-medium-blue);
}

.report-select__list {
    background: var(--admss-app-white);
    height: 200px;
    max-height: 200px;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
    margin: 0;
}

.report-control__checkbox {
    display: flex;
    align-items: center;
    gap: 15px;
}

.report__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.report-select__item {
    cursor: pointer;
    padding: 10px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    border-top: 0.5px solid var(--admss-app-white);
    transition: background-color 0.3s ease;
}

.report-select__item:hover {
    background-color: var(--admss-app-light-green);
}

.report-select__item.selected {
    background-color: var(--admss-app-medium-light-blue);
}

.report__footer {
    display: flex;
    margin-left: auto;
    margin-bottom: 60px;
    align-items: center;
    width: 65.5%;
    justify-content: flex-end;
}

.report__footer .report__button.p-button {
    height: 60px;
}

.report__icon-button.p-button {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    font-size: 1.4rem;
}

.report-control__title {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.51px;
    text-align: left;
}

.report__list-item.p-button.p-button-text {
    font-size: 18px;
    font-weight: 700;
    font-family: Open Sans;
    line-height: 24.51px;
    color: var(--admss-app-primary);
    padding-left: 0;
    border-radius: 0;
    text-align: left;
}

.report__list-item.p-button.p-button-text:hover {
    background-color: var(--admss-app-light-blue);
}

.report__list-item.p-button.p-button-text:enabled:hover {
    color: var(--admss-app-primary);
}

.report__list-item.p-button.p-button-text:focus {
    box-shadow: none;
}
