.purchase-payments__text-area {
    width: 100%;
    height: 110px;
}

.purchase-payments__button {
    padding: 0 80px;
    font-size: 24px;
    margin-left: auto;
    margin-top: 10px;
}

.purchase-payments__table.p-datatable .p-column-header-content {
    justify-content: center;
}

.purchase-payments__table.p-datatable .p-datatable-emptymessage {
    color: var(--admss-app-medium-grey);
}

.total-sum {
    margin-left: auto;
    margin-top: 10px;
    font-size: 18px;
}

.total-sum__label {
    color: var(--admss-app-main-blue);
    font-weight: 700;
}

.total-sum__value {
    margin: 0 10px;
    font-weight: 600;
}

.purchase-payments__table-button {
    &.p-button {
        &:enabled:hover {
            background: transparent;
        }
        &:enabled:focus {
            box-shadow: none;
        }
    }
}

.purchase-payments__delete-button.p-button {
    color: var(--admss-app-light-grey);
    padding: 0;
    width: 24px;
    height: 24px;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    background: transparent;
}
