.search-dialog {
    width: 480px;
    .p-dialog-footer {
        margin-bottom: 30px;
    }
    .p-dropdown-label {
        display: inline-flex;
        align-items: center;
    }
}
.search-dialog__clear {
    font-size: 14px;
    line-height: 1.5;
}

.dialog-dates {
    display: flex;
    gap: 10px;
    .dialog-dates__input {
        .p-calendar {
            flex: 0 0 48%;
        }
    }
}
