.media .p-fileupload {
    background: var(--admss-app-white-blue);
    border: dotted 1px var(--admss-app-medium-blue);
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
}

.p-button.media__button {
    background: var(--admss-app-main-blue);
    border: none;
    outline: none;
    font-size: 20px;
}

.p-button.media__button:focus,
.p-button.media__button:active {
    box-shadow: none;
}

.p-button.media__button:not(button):not(a):not(.p-disabled):hover {
    background: var(--admss-app-dark-blue);
}

.p-button.media__button > .p-button-icon {
    display: none;
}

.media__upload-icon {
    font-size: 4em;
    color: var(--admss-app-medium-blue);
}

.media__upload-icon-label {
    color: var(--admss-app-primary);
    font-weight: 600;
    font-size: 20px;
}

.media__upload-tag {
    background: var(--admss-app-light-blue);
    cursor: default;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--admss-app-darkest-blue);
    margin: 0 5px;
}

.media__upload-text-info {
    font-size: 14px;
    margin: 0 18px;
}

.media__upload-text-info--bold {
    font-weight: 700;
}

.media__line {
    border-top: 1px solid var(--admss-app-medium-blue);
    margin-top: 12px;
}

.media-input {
    display: flex;
    justify-content: space-between;
}

.media-input__dropdown,
.media-input__button {
    width: 23%;
}

.media-input__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
}

.media-input__text {
    width: 48%;
}

.media-input__text,
.media-input__dropdown {
    height: 50px;
    align-items: center;
}

.media .p-fileupload-content {
    border: none;
    background: transparent;
    width: 100%;
    padding-bottom: 16px;
}

.media__remove-button.p-button:hover {
    color: var(--admss-app-medium-blue);
    background: transparent;
}

.media-uploaded {
    padding-top: 50px;
    display: flex;
    width: 98%;
    align-items: center;
}

.media-uploaded__label {
    color: var(--admss-app-light-grey);
}

.media-uploaded__line {
    border: none;
    border-top: 1px solid var(--admss-app-light-grey);
    margin-top: 12px;
}

.media-uploaded__title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.uploaded-count {
    font-weight: 600;
    font-size: 18px;
}

.uploaded-count--blue {
    color: var(--admss-app-main-blue);
}

.media-images {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px 15px;
    padding-top: 50px;
    color: var(--admss-app-light-grey);
}

.media-images__image {
    border-radius: 5px;
}

.media-images__item {
    display: flex;
    box-shadow: 1px 1px 5px 0px rgba(41, 93, 194, 0.5);
    padding: 15px;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.image-info {
    margin-left: 10px;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
}

.image-info__item {
    color: var(--admss-app-primary);
    font-size: 16px;
    display: flex;
    gap: 6px;
    align-items: center;
}

.media-uploaded__label {
    font-weight: 600;
    color: var(--admss-app-primary);
}

.media-uploaded__checkbox {
    margin: 0 15px;
}

.media-images__item > .media-uploaded__checkbox {
    margin-left: 0;
}

.media-uploaded__checkbox .p-checkbox .p-checkbox-box {
    border-top: 1px solid var(--admss-app-light-grey);
}

.image-info__icon {
    color: var(--admss-app-primary-main-green);
}

.image-info__icon .icon {
    font-size: 14px;
}

.image-info__text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.image-info__text--bold {
    font-weight: 600;
}

.media-images__close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    border: none;
    color: var(--admss-app-medium-grey);
    background-color: transparent;
}
.media-images__close i {
    font-size: 14px;
    font-weight: 600;
}

.media-images__close:hover {
    color: var(--admss-app-light-grey);
}

.image-choose,
.image-choose__selected > .media__button {
    font-size: 16px;
}

.media > .p-fileupload-content:has(div) {
    display: flex;
    width: 100%;
}

.media .p-fileupload-content > div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.media .p-fileupload-row {
    width: 24%;
}

.media .p-fileupload-row .presentation {
    justify-content: space-between;
    box-shadow: 1px 1px 5px 0px rgba(41, 93, 194, 0.5);
    border-radius: 5px;
    font-size: 14px;
    padding: 0 4px;
}

.presentation__image {
    object-fit: cover;
    border-radius: 2px;
}

.presentation__remove-button.p-button {
    background: transparent;
    color: var(--admss-app-medium-grey);
    border: none;
    height: auto;
    width: 24px;
}

.presentation__remove-button.p-button > .pi {
    font-size: 12px;
}

.presentation__remove-button.p-button:hover {
    background: transparent;
    color: var(--admss-app-primary);
    border: none;
    height: auto;
}

.image-choose .info-panel__panel {
    min-width: 330px;
}

.p-image-mask.p-component-overlay {
    background-color: rgba(0, 0, 0, 0.25) !important;
}

.media-images__preview {
    border-radius: 12px;
}

.p-image-toolbar {
    display: flex;
    flex-direction: column-reverse;
}

.p-image-toolbar .p-image-action:last-child {
    margin-bottom: 31vh;
}

.p-image-preview-container:hover > .p-image-preview-indicator {
    height: 75px;
    width: 75px;
    background-color: rgba(0, 0, 0, 0.15);
}
