/* App variables */

:root {
    --admss-app-font: 'Open Sans', Arial, Helvetica, sans-serif;
    --admss-app-font-weight: 400;
    --admss-app-base-font-size: 18px;
    --admss-app-light-grey: #ccc;
    --admss-app-secondary: #292C33;
    --admss-app-primary: #292B2E;
    --admss-app-success: #28a745;
    --admss-secondary-checbox-input-stroke: #5F5F5F;
    --admss-app-primary-bg: #F9FBFF;
    --admss-app-secondary-light-blue: #E5EDFD;
    --admss-app-primary-main-green: #0DB564;
    --admss-app-aside-small-width: 130px;
}

::placeholder {
    color: var(--admss-app-light-grey);
}

html, body, #root {
    height: 100%;
}

html {
    font-size: var(--admss-app-base-font-size);
}

body {
    font-family: var(--admss-app-font);
    font-weight: var(--admss-app-font-weight);
    background-color: var(--admss-app-primary-bg);
}

.container {
    width: 824px;
    margin: auto;
}

.m-r-20px {
    margin-right: 20px !important;
}


@media screen and (min-width: 1400px) {
    .container {
        width: 1160px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        width: 1160px;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        width: 1539px;
    }
}
