/* App variables */

:root {
    --admss-app-font: 'Open Sans', Arial, Helvetica, sans-serif;
    --admss-app-font-weight: 400;
    --admss-app-base-font-size: 18px;
    --admss-app-light-grey: #CCCCCC;
    --admss-app-lightest-grey: #E7E7E7;
    --admss-app-medium-grey: #A4A6A8;
    --admss-darkest-grey: #5F5F5F;
    --admss-app-primary: #292B2E;
    --admss-app-yellow: #F1AE00;
    --admss-app-focus-yellow: #FFF9C3;
    --admss-app-red: #F10000;
    --admss-app-focus-red: #FFC3C3;
    --admss-app-success: #28A745;
    --admss-app-green: #15C35B;
    --admss-app-dark-green: #5ED69D;
    --admss-app-focus-green: #C3FFE3;
    --admss-app-light-green: #EFFFF7;
    --admss-app-primary-main-green: #0DB564;
    --admss-app-blue-text: #292A2E;
    --admss-app-white-blue: #F9FBFF;
    --admss-app-light-blue: #E5EDFD;
    --admss-app-medium-blue: #AFC6F3;
    --admss-app-dark-blue: #86ADFB;
    --admss-app-darkest-blue: #37455C;
    --admss-app-deep-blue: #292C33;
    --admss-app-aside-small-width: 130px;
}

::placeholder {
    color: var(--admss-app-light-grey);
}

html, body, #root {
    height: 100%;
}

html {
    font-size: var(--admss-app-base-font-size);
}

body {
    font-family: var(--admss-app-font);
    font-weight: var(--admss-app-font-weight);
    background-color: var(--admss-app-bg-colour);
}

.container {
    width: 824px;
    margin: auto;
}

.m-r-20px {
    margin-right: 20px !important;
}


@media screen and (min-width: 1400px) {
    .container {
        width: 1160px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        width: 1160px;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        width: 1539px;
    }
}
