/* App variables */
:root {
    --admss-app-font: "Open Sans", Arial, Helvetica, sans-serif;
    --admss-app-font-weight: 400;
    --admss-app-base-font-size: 18px;

    --admss-app-aside-collapsed-width: 84px;
    --admss-app-aside-expanded-width: 201px;
    --admss-app-content-top-margin: 50px;
    --admss-app-header-height: 108px;
    --admss-app-dialog-border-radius: 15px;
    --admss-app-container-width: 91vw;
    --admss-app-container-width-collapsed: 1539px;
    --admss-app-container-width-expanded: 1670px;

    --admss-app-main-blue: #295dc2;
    --admss-app-primary: #292b2e;
    --admss-app-white: #ffffff;
    --admss-app-white-blue: #f9fbff;

    --admss-app-light-blue: #e5edfd;
    --admss-app-medium-light-blue: #cfdbf4;
    --admss-app-medium-blue: #afc6f3;
    --admss-app-dark-blue: #7e9cd6;
    --admss-app-light-dusty-blue: #e0f5fa;
    --admss-app-dusty-blue: #00839f;
    --admss-app-button-dusty-blue: #55cde6;
    --admss-app-darkest-blue: #37455c;
    --admss-app-deep-blue: #292c33;
    --admss-app-focus-blue: #eef4ff;
    --admss-app-ultra-deep-blue: #000a66;
    --admss-app-warning-blue: #0040bd;
    --admss-app-blue-violet: #2a359b;
    --admss-app-light-blue-violet: #d9dcf4;
    --admss-app-lightest-blue-violet: #f1f3ff;
    --admss-app-blue-text: #292a2e;

    --admss-app-light-grey: #cccccc;
    --admss-app-lightest-grey: #e7e7e7;
    --admss-app-medium-grey: #a4a6a8;
    --admss-darkest-grey: #5f5f5f;

    --admss-app-success: #28a745;
    --admss-app-green: #15c35b;
    --admss-app-dark-green: #5ed69d;
    --admss-app-focus-green: #c3ffe3;
    --admss-app-light-green: #e8f9e6;
    --admss-app-lightest-green: #fafffc;
    --admss-app-primary-main-green: #0db564;
    --admss-app-warning-green: #148d00;
    --admss-app-deep-green: #3e9231;
    --admss-app-focus-light-green: #edfff7;

    --admss-app-yellow: #f1ae00;
    --admss-app-warning-yellow: #e97e00;
    --admss-app-focus-yellow: #fff9c3;

    --admss-app-red: #de0000;
    --admss-app-deep-red: #9b2a2a;
    --admss-app-focus-red: #ffc3c3;
    --admss-app-light-red: #ffe9e9;

    --admss-app-light-purple: #f3ddf9;
    --admss-app-deep-purple: #852a9b;
    --admss-app-focus-purple: #de5bff;

    --admss-app-statuses-default: #5ed69d;
    --admss-app-statuses-started: #0085ff;
    --admss-app-statuses-in-progress: #0040bd;
    --admss-app-statuses-paused: #ffc700;
    --admss-app-statuses-postponed: #e97e00;
    --admss-app-statuses-completed: #148d00;
    --admss-app-statuses-cancelled: #de0000;
    --admss-app-statuses-outdated: #5f5f5f;
    --admss-app-statuses-deleted: #000000;
}

html {
    font-size: var(--admss-app-base-font-size);
    height: 100%;
}

body {
    font-family: var(--admss-app-font);
    font-weight: var(--admss-app-font-weight);
    background-color: var(--admss-app-white-blue);
    height: 100%;
}

#root {
    height: 100%;
}

::placeholder {
    color: var(--admss-app-light-grey);
}

.container {
    width: var(--admss-app-container-width-collapsed);
    margin: auto;
}

.m-r-20px {
    margin-right: 20px !important;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--admss-app-medium-blue);
}

.main.main--collapsed .container {
    width: calc(var(--admss-app-container-width) - var(--admss-app-aside-expanded-width));
    max-width: var(--admss-app-container-width-collapsed);
}
.main.main--expanded .container {
    width: calc(var(--admss-app-container-width) - var(--admss-app-aside-collapsed-width));
    max-width: var(--admss-app-container-width-expanded);
}
