@charset "UTF-8";

@font-face {
    font-family: "admss";
    src: url("fonts/admss.eot");
    src: url("fonts/admss.eot?#iefix") format("embedded-opentype"),
        url("fonts/admss.woff") format("woff"), url("fonts/admss.ttf") format("truetype"),
        url("fonts/admss.svg#adms") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "admss" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="admss-"]:before,
[class*=" admss-"]:before {
    font-family: "admss" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.admss-icon-arrow-bottom:before {
    content: "\61";
}
.admss-icon-arrow-left:before {
    content: "\62";
}
.admss-icon-arrow-right:before {
    content: "\63";
}
.admss-icon-arrow-top:before {
    content: "\64";
}
.admss-icon-blank:before {
    content: "\65";
}
.admss-icon-close:before {
    content: "\66";
}
.admss-icon-email:before {
    content: "\67";
}
.admss-icon-help:before {
    content: "\68";
}
.admss-icon-hide:before {
    content: "\69";
}
.admss-icon-location:before {
    content: "\6a";
}
.admss-icon-logout:before {
    content: "\6b";
}
.admss-icon-password:before {
    content: "\6c";
}
.admss-icon-print:before {
    content: "\6d";
}
.admss-icon-search:before {
    content: "\6e";
}
.admss-icon-settings:before {
    content: "\6f";
}
.admss-icon-show:before {
    content: "\70";
}
.admss-icon-sign-up:before {
    content: "\71";
}
.admss-icon-support-history:before {
    content: "\72";
}
.admss-icon-user:before {
    content: "\73";
}
.admss-icon-username-my-profile:before {
    content: "\74";
}
