@charset "UTF-8";

@font-face {
  font-family: "adms";
  src:url("fonts/adms.eot");
  src:url("fonts/adms.eot?#iefix") format("embedded-opentype"),
    url("fonts/adms.woff") format("woff"),
    url("fonts/adms.ttf") format("truetype"),
    url("fonts/adms.svg#adms") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "adms" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="adms-"]:before,
[class*=" adms-"]:before {
  font-family: "adms" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.adms-add-item:before {
  content: "\61";
}
.adms-add-item-round:before {
  content: "\62";
}
.adms-arrow-bottom:before {
  content: "\63";
}
.adms-arrow-left:before {
  content: "\64";
}
.adms-arrow-right:before {
  content: "\65";
}
.adms-arrow-top:before {
  content: "\66";
}
.adms-blank:before {
  content: "\67";
}
.adms-calendar:before {
  content: "\68";
}
.adms-category:before {
  content: "\69";
}
.adms-close:before {
  content: "\6a";
}
.adms-comment:before {
  content: "\6b";
}
.adms-dollar-sign:before {
  content: "\6c";
}
.adms-edit-item:before {
  content: "\6d";
}
.adms-play-prev:before {
  content: "\6e";
}
.adms-play:before {
  content: "\6f";
}
.adms-percentage:before {
  content: "\70";
}
.adms-pdf:before {
  content: "\71";
}
.adms-pause:before {
  content: "\72";
}
.adms-password:before {
  content: "\73";
}
.adms-mute:before {
  content: "\74";
}
.adms-logout:before {
  content: "\75";
}
.adms-location:before {
  content: "\76";
}
.adms-hide:before {
  content: "\77";
}
.adms-help:before {
  content: "\78";
}
.adms-error:before {
  content: "\79";
}
.adms-email:before {
  content: "\7a";
}
.adms-print:before {
  content: "\41";
}
.adms-question-mark:before {
  content: "\42";
}
.adms-search:before {
  content: "\43";
}
.adms-settings:before {
  content: "\44";
}
.adms-show:before {
  content: "\45";
}
.adms-sign-up:before {
  content: "\46";
}
.adms-sound-on:before {
  content: "\47";
}
.adms-support-history:before {
  content: "\48";
}
.adms-table:before {
  content: "\49";
}
.adms-trash-can:before {
  content: "\4a";
}
.adms-upload:before {
  content: "\4b";
}
.adms-user:before {
  content: "\4c";
}
.adms-username-my-profile:before {
  content: "\4d";
}
.adms-warning:before {
  content: "\4e";
}
.adms-zoom-in:before {
  content: "\4f";
}
.adms-zoom-out:before {
  content: "\50";
}
