.tasks {

  .tasks-search,
  .tasks-search .p-inputtext,
  .tasks__search-button {
    width: 200px;
    height: 50px;

    .pi.pi-search {
      color: var(--admss-app-medium-grey);
    }
  }

  .tasks__add-button {
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 1;
  }

  .tasks-filter {
    &.p-multiselect {
      width: 230px;
    }

    .tasks-filter__wrapper .p-multiselect-item.p-disabled {
      font-weight: 900;
    }

    .tasks-filter__wrapper .p-multiselect-item.p-disabled .p-checkbox {
      display: none;
    }

    .p-multiselect-panel .tasks-filter__header.p-multiselect-header {
      background-color: transparent;
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  .expanded-row__label {
    flex: 0 1 13.5%;
  }
}

.task-status--started {
  border-color: var(--admss-app-warning-green);
  color: var(--admss-app-warning-green);
}

.task-status--in-progress {
  border-color: var(--admss-app-warning-blue);
  color: var(--admss-app-warning-blue);
}

.task-status--paused {
  border-color: var(--admss-app-status-yellow);
  color: var(--admss-app-status-yellow);
}

.task-status--postponed {
  border-color: var(--admss-app-warning-yellow);
  color: var(--admss-app-warning-yellow);
}
