.dialog__add-task {
    width: 660px;
    height: 882px;

    .p-dialog-content-body {
        padding-top: 20px;
        gap: 30px;
    }

    .p-error {
        top: 50px;
        display: inline-flex;
        left: 0;
        margin: 0;
        width: 100%;
        justify-content: center;
        right: 0;
    }

    .p-calendar.p-inputwrapper {
        width: 220px;
    }

    .p-dialog-footer {
        margin-top: 10px;
    }

    .p-dialog-footer .p-button {
        display: inline-flex;
        width: 220px;
        height: 59px;
    }
}

.p-dialog .p-dialog-description {
    height: 130px;
}
