.profile-avatar {
    --avatar-size: 282px;
    --avatar-choose-size: 48px;
    --border-width: 1px;
    --border-gap: 3px;
    position: relative;
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    overflow: visible;
    cursor: pointer;
    border: var(--border-width) solid var(--admss-app-primary-main-green);
}

.profile-avatar::before {
    content: "";
    position: absolute;
    top: calc(-1 * var(--border-width) - var(--border-gap) - var(--border-width));
    left: calc(-1 * var(--border-width) - var(--border-gap) - var(--border-width));
    right: calc(-1 * var(--border-width) - var(--border-gap) - var(--border-width));
    bottom: calc(-1 * var(--border-width) - var(--border-gap) - var(--border-width));
    border-radius: 50%;
    border: var(--border-width) solid var(--admss-app-primary-main-green);
    pointer-events: none;
}

.profile-avatar__placeholder {
    width: 100%;
    height: 100%;
    background-color: var(--admss-app-light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.profile-avatar__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-avatar__choose {
    position: absolute;
    bottom: 16px;
    right: 16px;
    z-index: 2;
    width: var(--avatar-choose-size);
    height: var(--avatar-choose-size);
    background-color: var(--admss-app-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--admss-app-primary-main-green);
    font-size: 24px;
    border: var(--border-width) solid var(--admss-app-primary-main-green);
}
