.additional-settings__tabs .p-tabview-nav {
    flex-direction: row;
    flex: 0 0;
    width: auto;
    border: none;
    min-height: auto;
    border-bottom: 2px solid var(--admss-app-light-grey);
    text-transform: uppercase;
    font-weight: 700;
    gap: 10px;
    margin-bottom: 10px;
}

.additional-settings__tabs .p-tabview-panels {
    flex: 1;
    padding: 0;
}

.additional-settings__tabs .p-tabview-nav-container a.p-tabview-nav-link {
    color: var(--admss-app-primary);
    font-weight: 700;
    border: none;
}

.additional-settings__tabs
    .p-tabview-nav-container
    a.p-tabview-nav-link[aria-selected="true"] {
    color: var(--admss-app-main-blue);
    border-radius: 0;
    border-bottom: 2px solid var(--admss-app-main-blue);
}
