.additional-settings__tabs .p-tabview-nav {
    flex-direction: row;
    flex: 0 0;
    width: auto;
    border: none;
    min-height: auto;
    border-bottom: 2px solid var(--admss-app-light-grey);
    text-transform: uppercase;
    font-weight: 700;
    gap: 10px;
    margin-bottom: 10px;
}

.additional-settings__tabs .p-tabview-panels {
    flex: 1;
    padding: 0;
}

.additional-settings__tabs .p-tabview-nav-container a.p-tabview-nav-link {
    color: var(--admss-app-primary);
    font-weight: 700;
    border: none;
}

.additional-settings__tabs .p-tabview-nav-container a.p-tabview-nav-link[aria-selected="true"] {
    color: var(--admss-app-main-blue);
    border-radius: 0;
    border-bottom: 2px solid var(--admss-app-main-blue);
}

.commission-rate__input,
.commission-rate__input .p-inputnumber-input {
    height: 50px;
    border-radius: 0;
}

.commission-rate__input .p-inputnumber-input {
    flex: 1;
    min-width: 0;
    border-radius: 0 5px 5px 0;
}

.commission-rate__input .p-inputnumber {
    flex: 1;
    min-width: 0;
}

.commission-rate__button.p-button {
    flex: 0 0 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--admss-app-light-grey);
    border-right: 0;
    font-weight: 700;
    font-size: 20px;
    .icon {
        padding-top: 2px;
    }
}

.commission-rate__button.p-button.p-button-success:enabled:focus {
    box-shadow: none;
}

.commission-rate__button.p-button-secondary {
    background-color: var(--admss-app-lightest-grey);
    color: var(--admss-app-light-grey);
}

.commission-rate__button-currency.p-button {
    border-radius: 0;
}
